<section >

    <div >
       <h1>Mural de Avisos</h1>
       <p>Click na linha para ver os detalhes</p>
    </div>
  
    <table style="width:100%">
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Data</th>
      </tr>
      <tr *ngFor="let warning of warnings | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalPage }" [routerLink]="['/mural', warning.id]">
        <td>{{warning?.id}}</td>
        <td>{{warning?.title}}</td>
        <td>{{warning?.publishDate | date: 'dd/MM/yyyy'}}</td>
      </tr>
    </table>
    <div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  
  </section>